logicapp/code.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "inputs": {
                    "doc": "@variables('document')",
                    "id": "@{variables('docId')}",
                    "pk": "@{variables('runId')}",
                    "triggerInfo": "@triggerBody()"
                },
                "runAfter": {
                    "Initialize_variable_-_document": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Create_or_update_document": {
                "inputs": {
                    "body": "@outputs('Compose')",
                    "headers": {
                        "x-ms-documentdb-partitionkey": "@variables('runId')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/dbs/@{encodeURIComponent('dev')}/colls/@{encodeURIComponent('events')}/docs"
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Initialize_variable_-_contentJsonString": {
                "inputs": {
                    "variables": [
                        {
                            "name": "contentJsonString",
                            "type": "string",
                            "value": "@base64ToString(triggerBody()?['ContentData'])"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_docId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_docId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "docId",
                            "type": "string",
                            "value": "@{toLower(concat('', utcNow(), '-',workflow().run.name))}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_runId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_document": {
                "inputs": {
                    "variables": [
                        {
                            "name": "document",
                            "type": "object",
                            "value": "@json(variables('contentJsonString'))"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_contentJsonString": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_runId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "runId",
                            "type": "string",
                            "value": "@{toLower(concat('runId-', workflow().run.name))}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_queue_(auto-complete)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('events'))}/messages/head",
                    "queries": {
                        "queueType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "documentdb": {
                    "connectionId": "/subscriptions/<your-subscription-id>/resourceGroups/cjoakimdemo/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb",
                    "id": "/subscriptions/<your-subscription-id>/providers/Microsoft.Web/locations/eastus/managedApis/documentdb"
                },
                "servicebus": {
                    "connectionId": "/subscriptions/<your-subscription-id>/resourceGroups/cjoakimdemo/providers/Microsoft.Web/connections/servicebus",
                    "connectionName": "servicebus",
                    "id": "/subscriptions/<your-subscription-id>/providers/Microsoft.Web/locations/eastus/managedApis/servicebus"
                }
            }
        }
    }
}